/* Reset */
* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --primary-color: #11122b;
    --secondary-color: #aaa1a1;
    --white-color: #ffffff;
    --chips-color: #cea135;
    --grey-light-color: #cbcbcb;

    --font-primary: "Roboto", sans-serif;
    --font-secondary: "Ubuntu Condensed", sans-serif;
    --font-serifa: "Roboto Slab", serif;

    --size-icon: 1.8em;
}

body {
    font-family: var(--font-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-serifa);
}

a.active {
    cursor: default;
    opacity: .6;  
    pointer-events: none;
  }

/* Navigation */
.links-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.links-wrapper>.nav-link {
    width: 70px;
    text-align: center;
}

.links-wrapper>.nav-link a {
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    color: var(--white-color);
    font-family: var(--font-secondary);
    transition: all 0.5s ease;
}

.links-wrapper>.nav-link a:hover {
    color: var(--chips-color);
    letter-spacing: 2px;
}

li.list-item-square {
    list-style: square !important;
    padding: .3em 0;
}

li.list-item-number {
    list-style: decimal !important;
    padding: .3em 0;
}



