/* Reset */
* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --primary-color: #11122b;
    --secondary-color: #aaa1a1;
    --white-color: #ffffff;
    --chips-color: #cea135;
    --font-primary: "Roboto", sans-serif;
    --font-secondary: "Ubuntu Condensed", sans-serif;
    --size-icon: 1.8em;
}

body {
    font-family: var(--font-primary);
}

