/* Parallax */
.parallax-section {
    background-attachment: fixed;
    background-image: url(../imgs/backgrounds/fries-hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    padding: 100px;
}

.parallax-section>.top-heading {
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-color: var(--primary-color);
    border-radius: 2px;
    color: var(--grey-light-color);
    padding: 10px 20px;
    width: 320px;
    text-align: center;
}

.parallax-section>.bottom-heading {
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-color: var(--chips-color);
    border-radius: 2px;
    color: var(--primary-color);
    margin-top: 15px;
    padding: 10px 20px;
    text-align: center;
    width: 150px;
}

/*  
Aplique estos estilos a main-header: Utilice solo la paddingpropiedad , aplíquelos 7pxa la parte superior e inferior y 32pxa la derecha e izquierda. Un color de fondo de #fa42c3y un ancho de 125px.

Aplique estos estilos a sub-header: con la propiedad padding, aplíquelos 4pxen la parte superior e inferior, y 15pxen los lados derecho e izquierdo. Agregue un color de fondo #7c75c7y haga que el texto sea de color white.
*/