/* Page container */
.page-container {
    display: flex;
    justify-content: center;
}

.page-container>.content-wrapper {
    width: 1000px;
}

.page-container>.content-wrapper>#chef-img {
    border: 1px solid var(--chips-color);
    float: left;
    margin: 0 25px 12px 0;
    width: 350px;
}

.page-container>.content-wrapper>p {
    letter-spacing: 1px;
    line-height: 30px;

}