/* Square grid */
.squares-wrapper {
    display: flex;
    justify-content: center;
}

.squares-wrapper>.squares {
    width: 1000px;
}

.squares-wrapper>.squares>.square {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -4px;
}

.square>.img-wrapper img {
    height: 500px;
    object-fit: cover;
    /* recorta la imagen al tamaño del contenedor */
    width: 100%;
}

.square>.square-text-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.square>.square-text-wrapper p {
padding-left: 2em;
padding-right: 1em;

}
.square>.square-text-wrapper h1 {
    color: var(--chips-color);
    padding: 1em;
    text-align: left !important;
}
.square>.square-text-wrapper h1.menu{
    margin-left: -10em;
}

.square-text-wrapper>a {
    padding-top: 1em;
}