/* Reset */
* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --primary-color: #11122b;
    --secondary-color: #cbcbcb;
    --tertiary-color: #ffffff;
    --quaternary-color: #11122b;
    --prueba-color: red;

    --font-primary: "Roboto", sans-serif;
    --font-secondary: "Ubuntu Condensed", sans-serif;
}

body {
    font-family: var(--font-primary);
}

/* Common nav styles */
.navigation-wrapper {
    align-items: center;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    display: flex;
    font-family: var(--font-primary);
    font-size: 14px;
    height: 256px;
    justify-content: space-between;
    padding: 150px 5%;
}

.navigation-wrapper>.left-column {
    display: flex;
    align-items: center;
}

.navigation-wrapper>.left-column>.icon {
    margin-right: 15px;
}

.navigation-wrapper>.left-column>.icon i {
    font-size: 1.5em;
}

.navigation-wrapper>.left-column>.contact-hours-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .8em;
}

.navigation-wrapper>.contact-hours-wrapper>div.hours {
    font-family: var(--font-secondary);
    color: var(--secondary-color);
}

.links-wrapper>.nav-link a {
    font-family: var(--font-secondary);
    color: var(--tertiary-color);
}

.links-wrapper>.nav-link a:hover {
    color: var(--secondary-color);
}

.links-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navigation-wrapper>.right-column>.address-wrapper {
    font-family: var(--font-secondary);
}

.navigation-wrapper>.center-column {
    display: grid;
    grid-gap: 42px;
    grid-template-columns: 1fr;
    width: 500px;
}

.navigation-wrapper>.center-column>.banner-image  {
    display: flex;
    justify-content: center;
}

.navigation-wrapper>.center-column>.banner-image img {
    height: 100%;
    padding-top: 2em;
    width: 200px;
}