.btn    {
    -moz-border-radius: 2px;
    -moz-transition: 0.3s;
    -ms-border-radius: 2px;
    -ms-transition: 0.3s;
    -o-border-radius: 2px;
    -o-transition: 0.3s;
    -webkit-border-radius: 2px;
    -webkit-transition: 0.3s;
    background-color: var(--chips-color);
    border-radius: 2px;
    border: 1px solid var(--chips-color);
    color: var(--primary-color);
    font-size: 1.25em;
    outline: none;
    padding: 10px 25px;
    transition: 0.3s;
    width: 40%;
}

.btn:hover    {
    background-color: var(--primary-color);
    border: 1px solid var(--chips-color);
    color: var(--chips-color);
}

.btn:active    {
  box-shadow: 5px 5px 30px -3px rgba(0,0,0, .5);
}

.center-btn-wrapper {
    display: flex;
    justify-content: center;
}
