main>section>article>div.description-text {
    padding: 3em;
    font-size: 1.8em;
}

main>section>article>div.description-text>p {
    line-height: 1.1em;
    font-family: var(--cp-font-family-header-alt);
    margin-bottom: 20px;
}
main>section>article>div.description-text>p>span {
font-weight: 900;
}

main>section>article>div.description-text>.button-wrapper {
margin-top: 30px;
display: flex;

}
.button-wrapper {
    display: flex;
}

.button-wrapper>div>a {
    -moz-transition: .6s;
    -ms-transition: .6s;
    margin-left: 10px;
    -o-transition: .6s;
    -webkit-transition: .6s;
    background-color: var(--bg-primary-color);
    border-radius: 5px;
    color: white;
    padding: 5px 15px;
    transition: .6s;
    font-size: .8em;
}

main>section>article>div.description-text>.button-wrapper>div:nth-child(1)>a {
    background-color: hsl(var(--green-color));
    color: hsl(var(--font-color-secondary));
}

.button-wrapper>div a:hover{
    opacity: .7;
}

main>section>article>div.description-text>.button-wrapper>div>a:nth-of-type(2) {
    background-color: var(--bg-primary-color);
}
