main>section>article>div.description-text {
    font-size: 1.8em;
    padding: 3em;
}

main>section>article>div.description-text>p {
    font-family: var(--font-primary);
    font-weight: 300;
    font-style: normal;
    line-height: 1.1em;
    margin-bottom: 20px;
}
main>section>article>div.description-text>p>span {
font-weight: 900;
}

article>div.wrapper-example>img {
    width: 80%;
}

article>div.wrapper-example>.demostration-text {
font-weight: bold;
padding-left: .7em;
font-size: 1.3em;
margin-bottom: 7px;
}

main>section>article>div.description-text>.button-wrapper {
    display: flex;
margin-top: 30px;

}
.button-wrapper {
    display: flex;
}

.button-wrapper>div>a {
    background-color: var(--bg-primary-color);
    border-radius: 5px;
    color: white;
    font-size: .8em;
    padding: 5px 15px;
    transition: .6s;
}

main>section>article>div.description-text>.button-wrapper>div:nth-child(1)>a {
    background-color: hsl(var(--green-color));
    color: hsl(var(--font-color-secondary));
    margin-right: 30px;
}

.button-wrapper>div a:hover{
    opacity: .7;
}

main>section>article>div.description-text>.button-wrapper>div>a:nth-of-type(2) {
    background-color: var(--bg-primary-color);
}
