@media (max-width: 615px) {
    .navigation-wrapper {
        flex-direction: column;
        height: 100%;
    }

    .navigation-wrapper>.center-column {
        margin-bottom: 15px;
        order: 1;
    }

    .navigation-wrapper>.left-column {
        margin-bottom: 15px;
        margin-top: 10px;
        order: 2;
    }

    .navigation-wrapper>.right-column {
        margin-top: 15px;
        order: 3;
    }

    .links-wrapper {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .links-wrapper>.nav-link {
        flex-direction: column;
        margin-bottom: 10px;
        font-size: 1.5em;
    }

}
