@media (max-width: 615px ) and (max-width: 1624px)  {
    header {
        align-items: center;
        flex-direction: column;
        height: 250px;
        justify-content: center;
    }

    nav {
        flex-direction: column;
    }

    div.logo-wrapper {
        margin-bottom: 20px;
        text-align: center;
        padding-left: 0;
    }

    div.logo-wrapper>img{
        margin-top: 50px;
    }

    nav.left-header-nav-wrapper>.left-header-content {
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
    }

    /* main section*/
    article.description-wrapper {
        display: flex;
        flex-direction: column;
        flex-direction: column;
        margin-top: 20px;
        padding: 10px;
        width: 100%;
    }

    .description-wrapper>div.description-text {
        font-size: 1.3em;
        margin-bottom: 20px; 
        order: 1;
        padding: 1em;
        width: 100%;
    }

    .description-text>.button-wrapper {
        align-items: center;
    }
    
    .description-text>.button-wrapper>a{
        margin-bottom: 20px;
        height: 30px;
    }
    main > section > article > div.description-text > .button-wrapper > div:nth-child(1) > a {
        margin-right: 0;
    }

    .wrapper-example {
        display: column;
        justify-content: center;
        order: 0;
        text-align: center;
        width: 100%;
    }

    .wrapper-example>img {
        height: auto;
        height: auto; 
        margin: 0 auto;
        width: 100%;
    }

    div.button-wrapper{
        flex-direction: column;
        width: 100%;
    }
    
    div.button-wrapper div:first-child{
        margin-bottom: 15px;
        order: 0;
    }
    div.button-wrapper div:last-child{
        order: 1;
    }

    /* Footer*/
    footer {
        flex-direction: column;
        height: 100%;
        padding-bottom: 20px;
    }

    footer nav.footer-nav>a {
        font-size: 1.1em;
        margin-bottom: 2px;
        padding: 10px;
    }

}

